<% include ../layout/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">YelpCamp</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= foundcamp.img %>" alt="<%= foundcamp.name %>">
                    <div class="caption-full">
                        <h4 class="pull-right">$<%= foundcamp.price %>/night</h4>
                        <h4><a href="#"><%= foundcamp.name %></a></h4>
                        <p><%= foundcamp.description %></p>
                        <p> <em> Submitted By:  <%= foundcamp.author.username %></em></p>

                    <% if(currentUser && foundcamp.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/camp/<%= foundcamp._id %>/edit">Edit</a>
                        <form id="delete-form" action="/camp/<%= foundcamp._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                    </div> 
                </div>
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-success" href="/camp/<%= foundcamp._id %>/comments/new">Add New Comment</a>
                    </div>
                    <hr>
                    <% foundcamp.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                               <strong> <%= comment.author.username %> </strong> 
                                <span class="pull-right">10 days ago.</span>
                                <p>
                                    <%= comment.text %>
                                </p>

                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" 
                                href="/camp/<%= foundcamp._id %>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>

                                <form id="delete-form" action="/camp/<%= foundcamp._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger"> Delete</button>
                                </form>
                            <% } %>
                            </div> 
                        </div>
                        

                   <% }) %>
                </div>
            </div>
        </div>
    </div>

<% include ../layout/footer %>